<%= turbo_frame_tag 'searh_people' do %>
  <div class="border-b border-gray-200 shadow">
    <table class="md:table-fixed min-w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="font-light px-6 py-2 text-xs text-gray-800">Name</th>
          <th class="font-light px-6 py-2 text-xs text-gray-500">Kind document</th>
          <th class="font-light px-6 py-2 text-xs text-gray-500">Document</th>
          <th class="font-light px-6 py-2 text-xs text-gray-500">Email</th>
          <th class="font-light px-6 py-2 text-xs text-gray-500"></th>
          <th class="font-light px-6 py-2 text-xs text-gray-500"></th>
          <th class="font-light px-6 py-2 text-xs text-gray-500"></th>
        </tr>
     </thead>

      <%= render people %>
    </table>
  </div>
<% end %>
