<%= turbo_frame_tag 'searh_people' do %>
  <div class="mx-auto md:w-3/5 w-full">
    <h1 class="font-light text-2xl pb-8">Editar Requerente</h1>

    <%= render "form", person: @person %>

    <%= render "actions", person: @person %>
  </div>
<% end  %>
