<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-light text-2xl pb-8">Novo(a) Requerente</h1>

  <%= render "form", person: @person %>

  <%= link_to 'Back to people', people_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
