<nav class="bg-gradient-to-r from-lime-50 to-emerald-600 border-gray-200 pb-8 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a class="flex items-center">
      <span class="self-center text-xl font-extralight whitespace-nowrap text-emerald-900">Secretaria Municipal de Regulação Urbana</span>
    </a>
  </div>
</nav>
